<div class="personal">
  <div class="header header-admin">
    <div class="header__main">
      <div class="wrapper">
        <div class="header__logo">
          <img src="../../../../assets/images/logo.svg" alt=""/>
        </div>
        <div class="header__personal">
          <a [routerLink]="['/login']" class="header__ava">
            <img src="../../../../assets/images/admin.png" alt=""/>
          </a>
          <a [routerLink]="['/registration']" class="header__sign">
            admin@gmail.com
          </a>
          <a [routerLink]="['/login']" class="header__logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
