<div class="registration registration-reset">
  <div class="wrapper">
    <div class="form registration__form">
      <h2>Password reset</h2>
      <form>
        <div class="form__field">
          <label><b>Enter a new password</b></label>
          <input placeholder="New password" type="text">
        </div>
        <div class="form__field">
          <label><b>Retype the new password</b></label>
          <input placeholder="Confirm Password" type="text">
        </div>
        <div class="form__buttons">
          <button type="button" class="button modal__show">Save</button>
        </div>
      </form>
    </div>
    <a href="" class="registration__already">Already have an account?</a>
  </div>
</div>
