<div class="header__main">
    <div class="wrapper">
        <div class="header__logo">
            <img src="../../../../assets/images/logo.svg" alt=""/>
        </div>
        <div class="header__upgrade">
            <button class="button modal-upgrade-show"><img src="../../../../assets/images/upgrade.png" alt=""/> Upgrade
            </button>
        </div>
        <div class="header__dash">
            <a [routerLink]="['/user-dashboard']">Dashboard</a>
            <a [routerLink]="['/settings']">My Settings</a>
        </div>
    </div>
</div>
