<div class="personal">
  <div class="header">
    <div class="header__top">
      <div class="wrapper">
        <div class="header__personal">
          <a [routerLink]="['/login']" class="header__lk">
            <img src="../../../../assets/images/personal.svg" alt=""/>
          </a>
          <a [routerLink]="['/registration']" class="header__sign">
            User1234@gmail.com
          </a>
          <a [routerLink]="['/login']" class="header__logout">
            Logout
          </a>
        </div>
      </div>
    </div>
    <div class="header__main">
      <div class="wrapper">
        <div class="header__logo">
          <img src="../../../../assets/images/logo.svg" alt=""/>
        </div>
        <div class="header__upgrade">
          <button class="button modal-upgrade-show"><img src="../../../../assets/images/upgrade.png" alt=""/> Upgrade</button>
        </div>
        <div class="header__dash">
          <a [routerLink]="['/user-dashboard']">Dashboard</a>
          <a [routerLink]="['/settings']">My Settings</a>
        </div>
      </div>
    </div>
  </div>
</div>
