<a href="#" class="up">
  <img src="../../../../assets/images/up.png" alt=""/>
</a>
<div class="home">
  <div class="first">
    <div class="wrapper">
      <div class="first__overlay">
        <div class="first__dark"></div>
        <div class="first__light"></div>
        <img src="../../../../assets/images/first-overlay.png" alt=""/>
      </div>
      <h2>Downtime Happens. Get Notified!</h2>
      <h1>50 Monitors, Checked Every 5 Minutes, Totally Free!</h1>
      <p>(Need 1-minute checks and/or more monitors?)</p>
      <a [routerLink]="['/login']" class="button first__button">Start Monitoring (In 30 secs)</a>
    </div>
    <div class="first__scroll">
      <img src="../../../../assets/images/scroll.svg" alt=""/>
    </div>
  </div>
</div>
<div class="features">
  <div class="features__top">
    <div class="wrapper">
      <h2>Simple-yet-powerful features:</h2>
    </div>
  </div>
  <div class="features__main">
    <div class="wrapper">
      <div class="features__list">
        <div class="features__item">
          <img src="../../../../assets/images/features1.png" alt=""/>
          <h3>Multiple types</h3>
          <p>Check HTTP(s), ping, port, and keywords.</p>
        </div>
        <div class="features__item">
          <img src="../../../../assets/images/features2.png" alt=""/>
          <h3>Get started</h3>
          <p>Via e-mail, Telegram, Slack, Microsoft Teams.</p>
        </div>
        <div class="features__item">
          <img src="../../../../assets/images/features3.png" alt=""/>
          <h3>Reach the stats</h3>
          <p>View uptime, downtime and the response times.</p>
        </div>
        <div class="features__item">
          <img src="../../../../assets/images/features4.png" alt=""/>
          <h3>Verification</h3>
          <p>Verifies downtime from multiple locations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="integrates">
  <div class="integrates__top">
    <div class="wrapper">
      <h2>Integrates with:</h2>
    </div>
  </div>
  <div class="integrates__main">
    <div class="wrapper">
      <div class="integrates__list">
        <div class="integrates__item">
          <img src="../../../../assets/images/integrates1.png" alt=""/>
        </div>
        <div class="integrates__item">
          <img src="../../../../assets/images/integrates2.png" alt=""/>
        </div>
        <div class="integrates__item">
          <img src="../../../../assets/images/integrates3.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="verifies">
  <div class="wrapper">
    <div class="verifies__content">
      <h2>Simple-yet-powerful features:</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    </div>
  </div>
</div>
<div class="statistics">
  <div class="wrapper">
    <h2>Statistics:</h2>
    <div class="statistics__content">
      <div class="statistics__graphs">
        <div class="statistics__graph graph-home-green">
          <h3><span></span>Up monitors</h3>
          <div class="statistics__circle">
            <p>18</p>
          </div>
        </div>
        <div class="statistics__graph graph-home-red">
          <h3><span></span>Down monitors</h3>
          <div class="statistics__circle">
            <p>22</p>
          </div>
        </div>
        <div class="statistics__graph graph-home-blue">
          <h3><span></span>Paused monitors</h3>
          <div class="statistics__circle">
            <p>21</p>
          </div>
        </div>
      </div>
      <div class="statistics__numbers">
        <div class="statistics__item statistics__uptime">
          <h3><img src="../../../../assets/images/uptime.svg" alt=""/>Overall uptime</h3>
          <div class="statistics__hours">
            <img src="../../../../assets/images/star.svg" alt=""/>
            <span>0.000%</span>
            (last 24 hours)
          </div>
        </div>
        <div class="statistics__item statistics__downtime">
          <h3>Latest downtime</h3>
          <p>It was recorded (for the monitor Asdaa) on 2020-06-25 09:14:52 and the downtime lasted for 0 hrs, 9 mins.</p>
        </div>
      </div>
    </div>
  </div>
</div>
