<div class="pricing">
  <div class="wrapper">
    <div class="pricing__content">
      <div class="pricing__item pricing__item-pro">
        <div class="pricing__info">
          <h2>Pro Plan</h2>
          <p class="pricing__sub">..to grow with</p>
          <div class="pricing__advantage">
            <h3>1 minute monitoring intervals</h3>
            <p>(5x faster downtime detection)</p>
          </div>
          <div class="pricing__advantage">
            <div class="pricing__select select">
              <img src="../../../../assets/images/select-arrow.svg" alt="">
              <select>
                <option value="0">50 monitors</option>
                <option value="1">40 monitors</option>
                <option value="2">30 monitors</option>
                <option value="3">20 monitors</option>
              </select>
            </div>
          </div>
          <div class="pricing__advantage">
            <h3>24 months of logs</h3>
          </div>
          <div class="pricing__advantage">
            <h3>SSL monitoring</h3>
            <p>(detects SSL errors and reminds expiry dates)</p>
          </div>
          <div class="pricing__advantage">
            <h3>Advanced notifications</h3>
            <p>(alert once or every "x" minutes if down for "y" minutes)</p>
          </div>
          <div class="pricing__advantage">
            <h3>Port scan</h3>
          </div>
        </div>
        <div class="pricing__cost">
          <h2>$7</h2>
          <p>per month billed annually or $8.00 month-to-month</p>
        </div>
        <a href="" class="button">Upgrade to Pro Plan</a>
      </div>
      <div class="pricing__item pricing__item-free">
        <div class="pricing__info">
          <h2>Free Plan</h2>
          <p class="pricing__sub">..to grow with</p>
          <div class="pricing__advantage">
            <h3>5 minutes monitoring intervals</h3>
          </div>
          <div class="pricing__advantage">
            <h3><span>10 monitors</span></h3>
          </div>
          <div class="pricing__advantage">
            <h3><span>2 months of logs</span></h3>
          </div>
          <div class="pricing__advantage">
            <h3>SSL monitoring</h3>
            <p>(detects SSL errors and reminds expiry dates)</p>
          </div>
        </div>
        <div class="pricing__cost">
          <h2>$0</h2>
        </div>
        <a href="" class="button">Sign up</a>
      </div>
    </div>
    <div class="pricing__pay">
      <img alt="" src="img/visa.png"/>
      <img alt="" src="img/mastercard.png"/>
    </div>
  </div>
</div>
<div class="questions">
  <div class="wrapper">
    <h2>Common Pricing Questions</h2>
    <div class="questions__content">
      <div class="questions__item">
        <h3>I need a much bigger plan.</h3>
        <p>Please feel free to contact us anytime and we will be happy to help.</p>
        <h3>What happens when no SMS (or voice calls) are left?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="questions__item">
        <h3>Is upgrading prorated?</h3>
        <p>Yes, upgrading the account in between subscription periods is prorated. (no loss of payments will occur)</p>
        <h3>Can I cancel anytime?</h3>
        <p>Yes, the Pro Plan subscription can be canceled anytime and instantly from the "My Settings" page once logged-in.</p>
      </div>
    </div>
  </div>
</div>
