<div class="login">
  <div class="login__content">
    <div class="form login__form">
      <div class="wrapper">
        <form>
          <div class="form__field">
            <input placeholder="E-mail" type="text">
          </div>
          <div class="form__field">
            <input placeholder="Password" type="text">
          </div>
          <div class="form__buttons">
            <div class="form__left">
              <button class="button">Login</button>
              <label  class="form__checkbox">
                <input checked type="checkbox" name="type">
                <a><span></span> <p>Remember me</p></a>
              </label>
            </div>
            <div class="form__forgot">
              <a href="">Forgot Password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="login__sign">
      <div class="wrapper">
        <div class="login__gradient">
          <h2>Want to sign-up?</h2>
          <p>Awesome! It is totally free and takes only 30 seconds.</p>
          <a href="" class="button button-white">Sign-up</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="recovery">
  <div class="wrapper">
    <div class="recovery__content">
      <div class="form recovery__form">
        <h2>Password Recovery</h2>
        <form>
          <div class="form__field">
            <input placeholder="E-mail" type="text">
          </div>
          <div class="form__captcha">
            <img src="../../../../assets/images/captcha.jpg" alt=""/>
          </div>
          <div class="form__buttons">
            <button class="button">Reset password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
