<footer class="footer">
  <div class="wrapper">
    <div class="footer__logo">
      <img src="../../../../assets/images/logo.svg" alt=""/>
    </div>
    <div class="footer__content">
      <div class="footer__links">
        <div class="footer__item">
          <h3>About</h3>
          <a [routerLink]="['/about']">About</a>
          <a [routerLink]="['/blog']">Blog</a>
          <a [routerLink]="['/privacy']">Privacy Policy/Terms</a>
        </div>
        <div class="footer__item">
          <h3>Monitoring</h3>
          <a [routerLink]="['/locations']">Locations & IPs</a>
          <a [routerLink]="['/pricing']">Pricing</a>
        </div>
        <div class="footer__item">
          <h3>Support</h3>
          <a [routerLink]="['/faq']">FAQ</a>
          <a [routerLink]="['/support']">Contact Us</a>
        </div>
      </div>
      <div class="footer__socials">
        <a class="footer__button button" href="">Start Monitoring (In 30 secs)</a>
        <div class="footer__icons">
          <a href="https://facebook.com"><img src="../../../../assets/images/facebook.png" alt=""/></a>
          <a href="https://twitter.com"><img src="../../../../assets/images/twitter.png" alt=""/></a>
          <a href=""><img src="../../../../assets/images/message.png" alt=""/></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p>Robot Observer ® 2020. All Rights Reserved</p>
  </div>
</footer>
