<div class="faq">
  <div class="wrapper">
    <div class="faq__item">
      <div class="faq__top">
        <h2>Why is Uptime Robot free?</h2>
        <button>+</button>
      </div>
      <div class="faq__text">
        <p>That's a good question. Uptime Robot is launched on January 2010 and it is totally free since </p>
        <p>It all started with the desire to create something free + useful for the web community. Within time, the service grew so much, we spent lots of hours improving it and learned a lot.</p>
        <p>Update Jan 13 2015: We have introduced a Pro Plan today. And, the Free Plan is still here to stay :).</p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__top">
        <h2>Where are the monitoring locations and what are their IPs?</h2>
        <button>+</button>
      </div>
      <div class="faq__text">
        <p>That's a good question. Uptime Robot is launched on January 2010 and it is totally free since </p>
        <p>It all started with the desire to create something free + useful for the web community. Within time, the service grew so much, we spent lots of hours improving it and learned a lot.</p>
        <p>Update Jan 13 2015: We have introduced a Pro Plan today. And, the Free Plan is still here to stay :).</p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__top">
        <h2>Are my website stats affected?</h2>
        <button>+</button>
      </div>
      <div class="faq__text">
        <p>That's a good question. Uptime Robot is launched on January 2010 and it is totally free since </p>
        <p>It all started with the desire to create something free + useful for the web community. Within time, the service grew so much, we spent lots of hours improving it and learned a lot.</p>
        <p>Update Jan 13 2015: We have introduced a Pro Plan today. And, the Free Plan is still here to stay :).</p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__top">
        <h2>What are the differences between monitor types?</h2>
        <button>+</button>
      </div>
      <div class="faq__text">
        <p>That's a good question. Uptime Robot is launched on January 2010 and it is totally free since </p>
        <p>It all started with the desire to create something free + useful for the web community. Within time, the service grew so much, we spent lots of hours improving it and learned a lot.</p>
        <p>Update Jan 13 2015: We have introduced a Pro Plan today. And, the Free Plan is still here to stay :).</p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__top">
        <h2>The free SMS feature is not working for me.</h2>
        <button>+</button>
      </div>
      <div class="faq__text">
        <p>That's a good question. Uptime Robot is launched on January 2010 and it is totally free since </p>
        <p>It all started with the desire to create something free + useful for the web community. Within time, the service grew so much, we spent lots of hours improving it and learned a lot.</p>
        <p>Update Jan 13 2015: We have introduced a Pro Plan today. And, the Free Plan is still here to stay :).</p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__top">
        <h2>I didn't receive any up/down notifications.</h2>
        <button>+</button>
      </div>
      <div class="faq__text">
        <p>That's a good question. Uptime Robot is launched on January 2010 and it is totally free since </p>
        <p>It all started with the desire to create something free + useful for the web community. Within time, the service grew so much, we spent lots of hours improving it and learned a lot.</p>
        <p>Update Jan 13 2015: We have introduced a Pro Plan today. And, the Free Plan is still here to stay :).</p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__top">
        <h2>How to send regular HTTP requests for heartbeat monitors.</h2>
        <button>+</button>
      </div>
      <div class="faq__text">
        <p>That's a good question. Uptime Robot is launched on January 2010 and it is totally free since </p>
        <p>It all started with the desire to create something free + useful for the web community. Within time, the service grew so much, we spent lots of hours improving it and learned a lot.</p>
        <p>Update Jan 13 2015: We have introduced a Pro Plan today. And, the Free Plan is still here to stay :).</p>
      </div>
    </div>
  </div>
</div>
