<div class="header__main">
    <div class="wrapper">
      <div class="header__logo">
        <a [routerLink]="['/']">
          <img src="../../../../assets/images/logo.svg" alt=""/>
        </a>
      </div>
      <div class="header__nav">
        <div class="header__links">
          <a [routerLink]="['/faq']">FAQ</a>
          <a [routerLink]="['/about']">About</a>
          <a [routerLink]="['/support']">Support</a>
          <a [routerLink]="['/blog']">Blog</a>
        </div>
        <div class="header__socials">
          <a href="https://facebook.com"><img src="../../../../assets/images/facebook.png" alt=""/></a>
          <a href="https://twitter.com"><img src="../../../../assets/images/twitter.png" alt=""/></a>
          <a href=""><img src="../../../../assets/images/message.png" alt=""/></a>
        </div>
      </div>
      <div style="display: none" class="header__nav-mobile" [@openClose]="isOpen ? true : false">
        <a [routerLink]="['/faq']">FAQ</a>
        <a [routerLink]="['/about']">About</a>
        <a [routerLink]="['/support']">Support</a>
        <a [routerLink]="['/blog']">Blog</a>
        <a [routerLink]="['/registration']">Sign-up</a>
        <a [routerLink]="['/login']">Login</a>
      </div>
      <div class="header__burger inactive" (click)="openMobMenu()">
        <span></span>
      </div>
    </div>
  </div>

