<ng-container *ngIf="mode == 'modal-sites'">
    <div class="modal modal-sites">
        <div class="modal__overlay modal__hide"></div>
        <div class="modal-sites__body">
            <div class="modal__close modal__hide">
                <img src="../../../../../assets/images/close.png" alt="" (click)="close()"/>
            </div>
            <div class="modal-sites__top">
                <div class="modal-sites__left">
                    <h2><img src="../../../../../assets/images/glob.png" alt=""/> {{headertext}}</h2>
                </div>
                <div class="modal-sites__right">
                    <h2>{{bodytext}}</h2>
                </div>
            </div>
            <div class="modal-sites__form form">
                <form [formGroup]="formDomains" (ngSubmit)="createMonitoringDomains()">
                    <input type="text" formControlName="domain" placeholder="Enter site"/>
                    <button class="button button-load" type="submit" [disabled]="formDomains.invalid || loading">Scan Site
                        <div class="circle-loader" *ngIf="loading"><app-spinner></app-spinner></div>
                    </button>
                </form>
                <div [ngClass]="{'has-error': formDomains.get('domain').invalid && formDomains.get('domain').touched}">
                    <sup class="error" *ngIf="formDomains.get('domain').invalid && formDomains.get('domain').touched">
                        <span class="error" *ngIf="formDomains.get('domain')['errors']['required']">Domain's name is required!</span>
                        <span class="error" *ngIf="formDomains.get('domain')['errors']['pattern']">Please enter a valid domain's name</span>
                    </sup>
                    <sup *ngIf="errorMessage">
                        <span class="error" *ngIf="errorMessage['domain']">{{errorMessage['domain']}}</span>
                    </sup>
                </div>
            </div>
            <div class="modal-sites__content">
                <div class="modal-sites__left site-info-list">
                    <div class="modal-sites__row" *ngFor="let domain_name of domainsList; index as i">
                        <p>{{i+1}}. {{domain_name}}</p>
                        <button class="button" (click)="AddDomainName(i, domain_name)">{{domainsFlag[i] ? 'Remove' : 'Add'}}</button>
                    </div>
                    <sup class="error" *ngIf="errorMessage">
                        <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
                    </sup>
                </div>
                <div class="modal-sites__right">
                    <div class="modal-sites__checkboxes">
                        <div *ngFor="let alert_contact of alertInfo; index as i">
                            <label class="form__checkbox modal-sites__checkbox">
                                <input type="checkbox" [checked]="alertCategory['id']" name="type" (change)="AddAlertsInfoName(alert_contact['id'])">
                                <span></span>
                                <p>{{alert_contact['email']}}</p>
                            </label>
                        </div>
                        <sup class="error" *ngIf="errorMessage">
                            <span class="error" *ngIf="errorMessage['domain']">{{errorMessage['domain']}}</span>
                        </sup>
                    </div>
                    <div class="modal-sites__other">
                        <h3>Other sites</h3>
                        <div class="modal-sites__list">
                            <div class="modal-sites__scroll">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-reset__buttons">
                <button class="button button-cancel modal__hide" (click)="close()">Close</button>
                <button class="button button-load" [disabled]="formDomains.invalid || errorMessage || applyLoading" (click)="ApplyAllResults()">Apply
                    <div class="circle-loader" *ngIf="applyLoading"><app-spinner></app-spinner></div>
                </button>
            </div>
        </div>
    </div>
</ng-container>
