<div class="top">
    <div class="wrapper">
        <h1>Password Recovery</h1>
        <p>Recovery your password account</p>
    </div>
</div>
<div class="recovery">
    <div class="wrapper">
        <div class="recovery__content" >
            <div class="form recovery__form">
                <h2>Password Recovery</h2>
                <form [formGroup]="form" (ngSubmit)="submitPasswordRecovery()">
                    <div class="form__field" [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
                        <label><b>Your e-mail</b></label>
                        <input type="text" placeholder="E-mail" formControlName="email" name="email">
                        <sup class="error" *ngIf="form.get('email').invalid && form.get('email').touched">
                            <span class="error" *ngIf="form.get('email')['errors']['required']">Email must not be empty!</span>
                            <span class="error" *ngIf="form.get('email')['errors']['email']">Please enter a valid email</span>
                        </sup>
                        <sup class="error" *ngIf="errorMessage">{{errorMessage}}</sup>
                    </div>
                    <div class="form__captcha">
                        <img src="../../../../assets/images/captcha.jpg" alt=""/>
                    </div>
                    <div class="form__buttons">
                        <button type="submit" class="button button-load" [disabled]="form.invalid || loading">Reset password
                            <div class="circle-loader" *ngIf="loading"><app-spinner></app-spinner></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-modal-confirm [id]="'resetPassFinish'"
                       [mode]="'confirm'"
                       [bodytext]="'Reset password confirmation letter has been sent to your email'"
                       [headertext]="'Reset password'"
                       (closeModalEvent)="closeResetPassword()">
    </app-modal-confirm>
</div>
