<div class="text">
  <div class="wrapper">
    <div class="text__content">
      <p>Everyone with a website knows that, things can sometimes go wrong. Sometimes it is with the code, the server or the network....</p>
      <p>Uptime Robot is all about helping you to keep your websites up.</p>
      <p>It monitors your websites every 5 minutes and alerts you if your sites are down (actually, it is smarter, details below).
      <h2>How It Works? The Details</h2>
      <p>Here are the step-by-step actions of Uptime Robot to understand it better:</p>
      <ul class="text__dashed">
        <li>It asks for your websites headers and gets status codes like "200-ok", "404-not found",
          etc. every 5 minutes (or more depending on the monitor's settings),</li>
        <li>If the status code doesn't indicate a problem, we are good</li>
        <li>If the status code is~400+ and 500+, then the site is not loading</li>
        <li>In order to make sure the site is down, Uptime Robot makes several more checks in the next 30 seconds,</li>
        <li>If the site is still down, it sends an alert.</li>
      </ul>
      <h2>Why Free?</h2>
      <p>Ok, we know it is hard to offer something for free. And, to be honest, we can not foresee the expenses it will have.</p>
      <p>As designers/developers behind this service who have been into many different projects, we simply want to experience. This is exactly why we created Uptime Robot (in Jan 2010).</p>
      <p>We know that nobody likes a free service going paid. If we ever need to charge users to guarantee the future of Uptime Robot, we'll try our best to keep what is already free as free.</p>
      <p>Update Jan 13 2015: We have introduced a Pro Plan today.<br>
        And, the Free Plan is still here to stay :)</p>
    </div>
  </div>
</div>
