<div class="top">
  <div class="wrapper">
    <h1>Locations & IPs</h1>
    <p>Here is the list of our IPs so you can whitelist them if needed.</p>
  </div>
</div>
<div class="text">
  <div class="wrapper">
    <div class="text__content">
      <p>Robot Observer uses a distributed monitoring system to minimize false-positives.</p>
      <p>All primary checks are made from the main engines in Dallas-USA. However, once a downtime is detected, secondary requests to verify this downtime is sent from remote nodes that are located in different countries/continents.</p>
      <h2>Whitelisting</h2>
      <p>If the monitoring works well for you, there is no need to take any actions. But, if you get any false/positives, there is a strong chance that the IPs used are blocked by your hosting provider.</p>
      <p>Please make sure that you whitelist these IPs so that any requests that UptimeRobot send are not blocked.</p>
      <h2>69.162.124.224/28 (Dallas - USA)</h2>
      <ul class="text__dotted">
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
      </ul>
      <h2>69.162.124.224/28 (Dallas - USA)</h2>
      <ul class="text__dotted">
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
      </ul>
      <h2>69.162.124.224/28 (Dallas - USA)</h2>
      <ul class="text__dotted">
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
        <li>69.162.124.226 - 2607:ff68:107::3 (engine5.uptimerobot.com) (Dallas - USA)</li>
      </ul>
    </div>
  </div>
</div>
