<div class="account__sites sites">
  <div class="sites__top">
    <button class="button modal-sites-show" (click)="openModalsSitesForm()">+ Add Web Sites</button>
    <div class="sites__search">
      <input type="text" (keyup)="searchDomain($event.target.value)"/>
      <img src="../../../../assets/images/search.png" alt=""/>
    </div>
  </div>
    <div class="sites__content" (clickOutside)="hideMenu($event)">
      <p-tree [value]="newHierarchy">
        <ng-template let-node pTemplate="default">
          <span class="robot_items" (click)="scrollToDomain(node.id, node.label)">{{node.label}}</span>
          <span class="robot_menu_btn"><img class="robot_menu" src="../../../../assets/images/gear.png" alt="" (click)="OpenMenu($event, node.id, node.is_main, node.label)"/></span>
        </ng-template>
      </p-tree>
    </div>
    <div class="sites__modal"
         [style.position]="menuTopLeftPosition.position"
         [style.visibility]="menuTopLeftPosition.visibility"
         [style.left]="menuTopLeftPosition.x"
         [style.top]="menuTopLeftPosition.y">
      <p class="sites__edit" (click)="openEditSitesForm()"><img src="./../../../../assets/images/pen.png" alt=""/>Edit</p>
      <p class="sites__delete" (click)="OpenDeleteMenu($event)"><img src="./../../../../assets/images/basket.png" alt=""/>Delete</p>
      <p class="sites__reset modal-reset-show" (click)="OpenResetMenu()"><img src="./../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
      <div class="sites__captcha" [style.visibility]="menuDeletePosition.visibility">
        <div class="sites__digits">
          <h3>{{numberForDelete}}+{{anotherNumberForDelete}}=</h3>
          <input [(ngModel)]="rusultNum" class="resultSum" type="text"/>
        </div>
        <button class="button" (click)="deleteDomain(numberForDelete, anotherNumberForDelete, rusultNum)" [disabled]="!rusultNum">Delete</button>
      </div>
    </div>
  <app-modal-sites [id]="'modalsSites'"
                   [mode]="'modal-sites'"
                   [headertext]="'New Sites'"
                   [bodytext]="'Select Alert Contact'">
  </app-modal-sites>
  <app-modal-sites-edit [id]="'modalsEditSites'"
                        [mode]="'modal-edit-sites'"
                        [headertext]="'Edit Sites'"
                        [bodytext]="'Select Alert Contact'">
  </app-modal-sites-edit>
  <app-modal-sites-reset [id]="'modalsReset'"
                         [mode]="'modal-reset'"
                         [headertext]="'Reset stats'">
  </app-modal-sites-reset>
</div>
