<div class="account__sites sites">
  <div class="sites__top">
    <button class="button modal-sites-show">+ Add Web Sites</button>
    <div class="sites__search">
      <input type="text" />
      <img src="../../../../assets/images/search.png" alt=""/>
    </div>
  </div>
  <div class="sites__content">
    <div class="sites__item">
      <div class="sites__single sites__expand">
        <div class="sites__inside">
          <span>1.1.1.1</span>
          <div class="sites__gear">
            <span><img src="../../../../assets/images/gear.png" alt=""/></span>
            <div class="sites__modal">
              <p class="sites__edit"><img src="../../../../assets/images/pen.png" alt=""/>Edit</p>
              <p class="sites__delete"><img src="../../../../assets/images/basket.png" alt=""/>Delete</p>
              <p class="sites__reset modal-reset-show"><img src="../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
              <div class="sites__captcha">
                <div class="sites__digits">
                  <h3>3+7=</h3>
                  <input type="text"/>
                </div>
                <button class="button">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="sites__child">
          <div class="sites__single">
            <div class="sites__inside">
              <span>mail.1.1.1.1</span>
              <div class="sites__gear">
                <span><img src="../../../../assets/images/gear.png" alt=""/></span>
                <div class="sites__modal">
                  <p class="sites__edit"><img src="../../../../assets/images/pen.png" alt=""/>Edit</p>
                  <p class="sites__delete"><img src="../../../../assets/images/basket.png" alt=""/>Delete</p>
                  <p class="sites__reset modal-reset-show"><img src="../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
                  <div class="sites__captcha">
                    <div class="sites__digits">
                      <h3>3+7=</h3>
                      <input type="text"/>
                    </div>
                    <button class="button">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sites__item">
      <div class="sites__single sites__expand">
        <div class="sites__inside">
          <span>ad-saver.com</span>
          <div class="sites__gear">
            <span><img src="../../../../assets/images/gear.png" alt=""/></span>
            <div class="sites__modal">
              <p class="sites__edit"><img src="../../../../assets/images/pen.png" alt=""/>Edit</p>
              <p class="sites__delete"><img src="../../../../assets/images/basket.png" alt=""/>Delete</p>
              <p class="sites__reset modal-reset-show"><img src="../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
              <div class="sites__captcha">
                <div class="sites__digits">
                  <h3>3+7=</h3>
                  <input type="text"/>
                </div>
                <button class="button">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="sites__child">
          <div class="sites__single sites__expand">
            <div class="sites__inside">
              <span>mail.ad-saver.com</span>
              <div class="sites__gear">
                <span><img src="../../../../assets/images/gear.png" alt=""/></span>
                <div class="sites__modal">
                  <p class="sites__edit"><img src="../../../../assets/images/pen.png" alt=""/>Edit</p>
                  <p class="sites__delete"><img src="../../../../assets/images/basket.png" alt=""/>Delete</p>
                  <p class="sites__reset modal-reset-show"><img src="../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
                  <div class="sites__captcha">
                    <div class="sites__digits">
                      <h3>3+7=</h3>
                      <input type="text"/>
                    </div>
                    <button class="button">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="sites__child">
              <div class="sites__single">
                <div class="sites__inside">
                  <span>my.mail.ad-saver.com</span>
                  <div class="sites__gear">
                    <span><img src="../../../../assets/images/gear.png" alt=""/></span>
                    <div class="sites__modal">
                      <p class="sites__edit"><img src="../../../../assets/images/pen.png" alt=""/>Edit</p>
                      <p class="sites__delete"><img src="../../../../assets/images/basket.png" alt=""/>Delete</p>
                      <p class="sites__reset modal-reset-show"><img src="../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
                      <div class="sites__captcha">
                        <div class="sites__digits">
                          <h3>3+7=</h3>
                          <input type="text"/>
                        </div>
                        <button class="button">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sites__single sites__expand">
            <div class="sites__inside">
              <span>mx.ad-saver.com</span>
              <div class="sites__gear">
                <span><img src="../../../../assets/images/gear.png" alt=""/></span>
                <div class="sites__modal">
                  <p class="sites__edit"><img src="../../../../assets/images/pen.png" alt=""/>Edit</p>
                  <p class="sites__delete"><img src="../../../../assets/images/basket.png" alt=""/>Delete</p>
                  <p class="sites__reset modal-reset-show"><img src="../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
                  <div class="sites__captcha">
                    <div class="sites__digits">
                      <h3>3+7=</h3>
                      <input type="text"/>
                    </div>
                    <button class="button">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="sites__child">
              <div class="sites__single">
                <div class="sites__inside">
                  <span>l1.mail.ad-saver.com</span>
                  <div class="sites__gear">
                    <span><img src="../../../../assets/images/gear.png" alt=""/></span>
                    <div class="sites__modal">
                      <p class="sites__edit"><img src="../../../../assets/images/pen.png" alt=""/>Edit</p>
                      <p class="sites__delete"><img src="../../../../assets/images/basket.png" alt=""/>Delete</p>
                      <p class="sites__reset modal-reset-show"><img src="../../../../assets/images/reset.png" alt=""/>Reset Stats</p>
                      <div class="sites__captcha">
                        <div class="sites__digits">
                          <h3>3+7=</h3>
                          <input type="text"/>
                        </div>
                        <button class="button">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
