<div class="blog">
  <div class="blog__item">
    <div class="wrapper">
      <p class="blog__top">ANNOUNCEMENTS</p>
      <h2>Robot Observer 2020 Update: Acquisition, recent problems and future plans Post author</h2>
      <div class="blog__info">
        <p class="blog__author"><img alt="" src="../../../../assets/images/author.png"/> By <a href="">Peter Hrbacik</a></p>
        <p class="blog__date"><img alt="" src="../../../../assets/images/date.png"/> Post date <a href="">June 4, 2020</a></p>
        <p class="blog__comment"><img alt="" src="../../../../assets/images/comment.png"/> <a href="">20 Comments</a></p>
      </div>
      <div class="blog__text">
        <p>Hello everyone, Peter here, nice to e-meet you. Let me briefly introduce myself and share some insights about what has been going on with UptimeRobot lately and what the future plans are. I am one of the founders of itrinity, a Czech/Slovak company, which acquired UptimeRobot in late 2019. We are not your “typical” <span>[…]</span></p>
      </div>
      <div class="blog__bottom">
        <p class="blog__theme"><img src="../../../../assets/images/theme.png" alt=""/> <a href="">2fa</a>, <a href="">security</a></p>
        <a class="button blog__button" href="">Leave a comment</a>
      </div>
    </div>
  </div>
  <div class="blog__item">
    <div class="wrapper">
      <p class="blog__top">ANNOUNCEMENTS</p>
      <h2>Robot Observer 2020 Update: Acquisition, recent problems and future plans Post author</h2>
      <div class="blog__info">
        <p class="blog__author"><img alt="" src="../../../../assets/images/author.png"/> By <a href="">Peter Hrbacik</a></p>
        <p class="blog__date"><img alt="" src="../../../../assets/images/date.png"/> Post date <a href="">June 4, 2020</a></p>
        <p class="blog__comment"><img alt="" src="../../../../assets/images/comment.png"/> <a href="">20 Comments</a></p>
      </div>
      <div class="blog__text">
        <p>Hello everyone, Peter here, nice to e-meet you. Let me briefly introduce myself and share some insights about what has been going on with UptimeRobot lately and what the future plans are. I am one of the founders of itrinity, a Czech/Slovak company, which acquired UptimeRobot in late 2019. We are not your “typical” <span>[…]</span></p>
      </div>
      <div class="blog__bottom">
        <p class="blog__theme"><img src="../../../../assets/images/theme.png" alt=""/> <a href="">2fa</a>, <a href="">security</a></p>
        <a class="button blog__button" href="">Leave a comment</a>
      </div>
    </div>
  </div>
  <div class="blog__item">
    <div class="wrapper">
      <p class="blog__top">ANNOUNCEMENTS</p>
      <h2>Robot Observer 2020 Update: Acquisition, recent problems and future plans Post author</h2>
      <div class="blog__info">
        <p class="blog__author"><img alt="" src="../../../../assets/images/author.png"/> By <a href="">Peter Hrbacik</a></p>
        <p class="blog__date"><img alt="" src="../../../../assets/images/date.png"/> Post date <a href="">June 4, 2020</a></p>
        <p class="blog__comment"><img alt="" src="../../../../assets/images/comment.png"/> <a href="">20 Comments</a></p>
      </div>
      <div class="blog__text">
        <p>Hello everyone, Peter here, nice to e-meet you. Let me briefly introduce myself and share some insights about what has been going on with UptimeRobot lately and what the future plans are. I am one of the founders of itrinity, a Czech/Slovak company, which acquired UptimeRobot in late 2019. We are not your “typical” <span>[…]</span></p>
      </div>
      <div class="blog__bottom">
        <p class="blog__theme"><img src="../../../../assets/images/theme.png" alt=""/> <a href="">2fa</a>, <a href="">security</a></p>
        <a class="button blog__button" href="">Leave a comment</a>
      </div>
    </div>
  </div>
  <div class="blog__item">
    <div class="wrapper">
      <p class="blog__top">ANNOUNCEMENTS</p>
      <h2>Robot Observer 2020 Update: Acquisition, recent problems and future plans Post author</h2>
      <div class="blog__info">
        <p class="blog__author"><img alt="" src="../../../../assets/images/author.png"/> By <a href="">Peter Hrbacik</a></p>
        <p class="blog__date"><img alt="" src="../../../../assets/images/date.png"/> Post date <a href="">June 4, 2020</a></p>
        <p class="blog__comment"><img alt="" src="../../../../assets/images/comment.png"/> <a href="">20 Comments</a></p>
      </div>
      <div class="blog__text">
        <p>Hello everyone, Peter here, nice to e-meet you. Let me briefly introduce myself and share some insights about what has been going on with UptimeRobot lately and what the future plans are. I am one of the founders of itrinity, a Czech/Slovak company, which acquired UptimeRobot in late 2019. We are not your “typical” <span>[…]</span></p>
      </div>
      <div class="blog__bottom">
        <p class="blog__theme"><img src="../../../../assets/images/theme.png" alt=""/> <a href="">2fa</a>, <a href="">security</a></p>
        <a class="button blog__button" href="">Leave a comment</a>
      </div>
    </div>
  </div>
</div>

