<div class="registration">
  <div class="wrapper">
    <div class="form registration__form">
      <h2>Create your account</h2>
      <form>
        <div class="form__field">
          <label><b>Your full name</b></label>
          <input type="text">
        </div>
        <div class="form__field">
          <label><b>Your e-mail</b></label>
          <input type="text">
        </div>
        <div class="form__field">
          <label><b>Enter your password</b> <span>min. 6 characters</span></label>
          <input type="password">
        </div>
        <label  class="form__checkbox">
          <input checked type="checkbox" name="type">
          <span></span> <p>I accept the <a href="">privacy policy terms and conditions</a></p>
        </label>
        <div class="form__captcha">
          <img src="img/captcha.jpg" alt=""/>
        </div>
        <div class="form__buttons">
          <button type="button" class="button modal__show">Register now</button>
        </div>
      </form>
    </div>
  </div>
</div>
