<div class="account__heading heading-dashboard">
  <h2>Account Dashboard</h2>
  <p>A place to find all the details about your monitors</p>
</div>
<div class="account__item quick">
  <label class="account__switch switch">
    <input type="checkbox">
    <span class="switch__slider">
                        </span>
    <span class="switch__red">Off</span>
    <span class="switch__green">On</span>
  </label>
  <div class="quick__content">
    <div class="quick__top">
      <h2><img src="../../../../assets/images/stats.svg" alt=""/> Quick Stats</h2>
    </div>
    <p class="quick__sub">You are currently using 1 of your 50 monitors.</p>
    <div class="quick__statistics statistics">
      <div class="statistics__content">
        <div class="statistics__graphs">
          <div class="statistics__graph graph-green">
            <h3><span></span>Up monitors</h3>
            <div class="statistics__circle">
              <p>18</p>
            </div>
          </div>
          <div class="statistics__graph graph-red">
            <h3><span></span>Down monitors</h3>
            <div class="statistics__circle">
              <p>22</p>
            </div>
          </div>
          <div class="statistics__graph graph-blue">
            <h3><span></span>Paused monitors</h3>
            <div class="statistics__circle">
              <p>21</p>
            </div>
          </div>
        </div>
        <div class="statistics__numbers">
          <div class="statistics__item statistics__uptime">
            <h3><img src="../../../../assets/images/uptime.svg" alt=""/>Overall uptime</h3>
            <div class="statistics__hours">
              <img src="../../../../assets/images/star.svg" alt=""/>
              <span>0.000%</span>
              (last 24 hours)
            </div>
            <div class="statistics__hours">
              <img src="../../../../assets/images/star.svg" alt=""/>
              <span>0.000%</span>
              (last 24 hours)
            </div>
            <div class="statistics__hours">
              <img src="../../../../assets/images/star.svg" alt=""/>
              <span>0.000%</span>
              (last 24 hours)
            </div>
          </div>
          <div class="statistics__item statistics__downtime">
            <h3>Latest downtime</h3>
            <p>It was recorded (for the monitor Asdaa) on 2020-06-25 09:14:52 and the downtime lasted for 0 hrs, 9
              mins.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="account__item site-info" [ngClass]="{'visibleSiteInfo': domainId}">
  <label class="site-info__switch switch">
    <input checked type="checkbox">
    <span class="switch__slider"></span>
    <span class="switch__red">Off</span>
    <span class="switch__green">On</span>
  </label>
  <div class="site-info__content" *ngFor="let ip_address of ipAddresses; index as i">
    <h2>{{domainName}}</h2>
    <div class="site-info__sub">
      <div class="site-info__ips">
        <p>{{ip_address.address}}</p>
      </div>
      <p class="site-info__ports">Open ports</p>
    </div>
    <div class="site-info__list">
      <div class="site-info__item">
        <div class="site-info__main">
          <div class="site-info__gear">
            <img src="../../../../assets/images/gear2.png" (click)="openDomainSetting(i, ip_address['id'])" alt=""/>
          </div>
          <h3>{{ip_address.address}}</h3>
          <div class="site-info__graph">
          </div>
          <div class="site-info__result">
            <div class="site-info__text">
              <p>Ping</p>
              <p>Http</p>
              <p>Https<span>SSL Verify</span></p>
              <div class="site-info__status result-green">Ok</div>
            </div>
            <div class="site-info__digits">
              <p class="result-yellow">16</p>
              <p class="result-green">17</p>
              <p class="result-green">7</p>
              <p class="result-green">5</p>
              <p class="result-green">8</p>
              <p class="result-green">3</p>
              <p class="result-green">8</p>
              <p class="result-green">11</p>
              <p class="result-red">1</p>
              <p class="result-yellow">8</p>
              <p class="result-green">21</p>
              <p class="result-green">3</p>
            </div>
          </div>
        </div>
        <p-accordion>
          <p-accordionTab [(selected)]="activeState[i]">
            <div style="display: block" class="site-info__expand">
              <div class="site-info__expand-top">
                <div class="site-info__settings">
                  <h2>Settings</h2>
                </div>
                <div class="site-info__type">
                  <h2>Type scan: TCP</h2>
                </div>
              </div>

              <div class="site-info__expand-content">
                <div class="site-info__settings">
                  <div class="site-info__switches">
                    <div class="site-info__column">
                      <div class="site-info__option">
                        <p>Ping</p>

                        <label class="switch">
                          <input type="checkbox" [(ngModel)]="pingStatus">
                          <span class="switch__slider"></span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>Http</p>
                        <label class="switch">
                          <input checked type="checkbox" [(ngModel)]="httpStatus">
                          <span class="switch__slider"></span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>Https</p>
                        <label class="switch">
                          <input type="checkbox" [(ngModel)]="httpsStatus">
                          <span class="switch__slider"></span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>SSL Verify</p>
                        <label class="switch">
                          <input checked type="checkbox" [(ngModel)]="sslStatus">
                          <span class="switch__slider"></span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                    </div>
                    <div class="site-info__column">
                      <div class="site-info__option">
                        <p>21</p>
                        <label class="switch">
                          <input type="checkbox">
                          <span class="switch__slider">
                                                            </span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>22</p>
                        <label class="switch">
                          <input checked type="checkbox">
                          <span class="switch__slider">
                                                            </span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>53</p>
                        <label class="switch">
                          <input type="checkbox">
                          <span class="switch__slider">
                                                            </span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>8080</p>
                        <label class="switch">
                          <input checked type="checkbox">
                          <span class="switch__slider">
                                                            </span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>10000</p>
                        <label class="switch">
                          <input checked type="checkbox">
                          <span class="switch__slider">
                                                            </span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                      <div class="site-info__option">
                        <p>35000</p>
                        <label class="switch">
                          <input checked type="checkbox">
                          <span class="switch__slider">
                                                            </span>
                          <span class="switch__red">Off</span>
                          <span class="switch__green">On</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="site-info__scan">
                    <div>
                      <button class="button fast-port-scan" (click)="FastPortScan()">Fast Port Scan</button>
                    </div>
                    <div>
                      <button class="button">Full Port Scan</button>
                    </div>
                  </div>
                </div>
                <div class="site-info__type">
                  <div class="site-info__table tcp-table">
                    <div class="tcp-table__top-row">
                      <div class="tcp-table__port">
                        <h3>Port</h3>
                      </div>
                      <div class=" tcp-table__information">
                        <div class="tcp-table__available">
                          <h3>Status</h3>
                        </div>
                        <div class="tcp-table__description">
                          <h3>Description</h3>
                        </div>
                      </div>
                    </div>
                    <div class="tcp-table__rows">
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>144</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p></p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>132</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p><span>available</span></p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum </p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p> dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="tcp-table__row">
                        <div class="tcp-table__port">
                          <p>21</p>
                        </div>
                        <div class="tcp-table__information">
                          <div class="tcp-table__available">
                            <p>not available</p>
                          </div>
                          <div class="tcp-table__description">
                            <p>Lorem Ipsum is simply dummy text.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="site-info__buttons">
                <button class="button button-cancel site-info__close">Close</button>
                <button class="button">Apple</button>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</div>
<div class="account__event event">
  <div class="event__top">
    <p>Latest Events For All Monitors <span>(up, down, start)</span></p>
    <a href="">Export Logs</a>
  </div>
  <div class="event__top-row">
    <div class="event__left">
      <div class="event__name">
        <p>Event</p>
      </div>
      <div class="event__site">
        <p>Site</p>
      </div>
      <div class="event__date">
        <p>Date-Time</p>
      </div>
    </div>
    <div class="event__right">
      <div class="event__reason">
        <p>Reason</p>
      </div>
      <div class="event__duration">
        <p>Duration</p>
      </div>
    </div>
  </div>
  <div class="event__row">
    <div class="event__left">
      <div class="event__name">
        <div class="event__status status-red">Down</div>
      </div>
      <div class="event__site">
        <p>Name site</p>
      </div>
      <div class="event__date">
        <p>2020-06-25 09:14:52</p>
      </div>
    </div>
    <div class="event__right">
      <div class="event__reason">
        <p class="event__red">Connection Timeout (429)</p>
      </div>
      <div class="event__duration">
        <p>0 hrs, 9 mins</p>
      </div>
    </div>
  </div>
  <div class="event__row">
    <div class="event__left">
      <div class="event__name">
        <div class="event__status status-blue">Started</div>
      </div>
      <div class="event__site">
        <p>Name site</p>
      </div>
      <div class="event__date">
        <p>2020-06-25 09:14:52</p>
      </div>
    </div>
    <div class="event__right">
      <div class="event__reason">
        <p>Started</p>
      </div>
      <div class="event__duration">
        <p>0 hrs, 0 mins</p>
      </div>
    </div>
  </div>
</div>
<div class="account__from-blog from-blog">
  <div class="from-blog__item">
    <h2>From the Blog</h2>
  </div>
  <div class="from-blog__item">
    <a href=""><img src="../../../../assets/images/doc.png" alt=""/> UptimeRobot 2020 Update: Acquisition, recent
      problems and future plans</a>
  </div>
  <div class="from-blog__item">
    <a href=""><img src="../../../../assets/images/doc.png" alt=""/> New Feature: Heartbeat Monitoring (Pro Plan)</a>
  </div>
  <div class="from-blog__item">
    <a href=""><img src="../../../../assets/images/doc.png" alt=""/> New Feature: Announcements for the Status Pages
      (Pro Plan)</a>
  </div>
  <div class="from-blog__item">
    <a href=""><img src="../../../../assets/images/doc.png" alt=""/> New Feature – Read-Only Api-Key</a>
  </div>
</div>
