<div class="account__heading heading-dashboard">
  <h2>Account Dashboard</h2>
  <p>A place to find all the details about your monitors</p>
</div>
<app-quick-stats></app-quick-stats>
<app-site-info [class.visibleSiteInfo]="domainId"></app-site-info>
<ng-container *ngIf="monitoringInfo">
  <div class="account__event event">
    <div class="event__top">
      <p>Latest Events For All Monitors <span>(up, down, start)</span></p>
      <a href="" (click)="exportLogs($event)">Export Logs</a>
    </div>
    <div class="event__top-row">
      <div class="event__left">
        <div class="event__name">
          <p>Event</p>
        </div>
        <div class="event__site">
          <p>Site</p>
        </div>
        <div class="event__date">
          <p>Date-Time</p>
        </div>
      </div>
      <div class="event__right">
        <div class="event__reason">
          <p>Reason</p>
        </div>
        <div class="event__duration">
          <p>Duration</p>
        </div>
      </div>
    </div>
    <div class="event__row" *ngFor="let event of monitoringInfo; index as i">
      <div class="event__left">
        <div class="event__name">
          <div *ngIf="event.reason === 'Down'" class="event__status status-red">{{event.reason}}</div>
          <div *ngIf="event.reason === 'Started'" class="event__status status-blue">{{event.reason}}</div>
        </div>
        <div class="event__site">
          <p>{{event.domain}}</p>
        </div>
        <div class="event__date">
          <p>{{event.created | date:'YYYY-MM-dd hh:mm:ss'}}</p>
        </div>
      </div>
      <div class="event__right">
        <div class="event__reason">
          <p class="event__red">{{event.reason}}</p>
        </div>
        <div class="event__duration">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="account__from-blog from-blog">
  <div class="from-blog__item">
    <h2>From the Blog</h2>
  </div>
  <ng-container *ngIf="recentPosts">
    <div *ngIf="recentPosts['results']?.length > 0; else emptyPosts">
      <div class="from-blog__item" *ngFor="let post of recentPosts['results']">
        <a [routerLink]="['/article', post.id]"><img src="../../../../assets/images/doc.png" alt=""/>{{post.title}}</a>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyPosts>
    <div class="from-blog__item">
      <a>No posts</a>
    </div>
  </ng-template>
</div>

