<div class="settings__top">
    <h2><img src="../../../../../assets/images/contacts.png" alt=""/> Account profile</h2>
</div>
<div class="settings__plan">
    <h3>Plan</h3>
    <button class="button settings__button modal-upgrade-show">Upgrade to Pro</button>
    <p class="settings__dotted">You are using the <b>"Free Plan (50 monitors, 5 minute intervals)"</b>.</p>
</div>
<div class="settings__history">
    <p class="settings__dotted">
        <span>Payments history</span>
        The auto-renew billing is cancelled. Please click the "Change Plan button" above to renew the subscription
    </p>
</div>
<div class="form settings__personal">
    <h3>Personal</h3>
    <form>
        <div class="settings__personal-field">
            <p>First-Last Name <sup>*</sup></p>
            <input type="text" placeholder="User"/>
        </div>
        <div class="settings__personal-field">
            <p>Timezone</p>
            <div class="select settings__select">
                <img src="../../../../../assets/images/down.svg" alt="">
                <select>
                    <option value="0">Sao Paulo (GMT -03:00:00)</option>
                    <option value="1">Sao Paulo (GMT -03:00:00)</option>
                    <option value="2">Sao Paulo (GMT -03:00:00)</option>
                    <option value="3">Sao Paulo (GMT -03:00:00)</option>
                </select>
            </div>
        </div>
        <label class="form__checkbox settings__checkbox">
            <input checked type="checkbox" name="type">
            <span></span>
            <p>Inform me about new features and updates (no more than twice a month).</p>
        </label>
        <label class="form__checkbox settings__checkbox">
            <input checked type="checkbox" name="type">
            <span></span>
            <p>Inform me about development/technical updates (API, IPs used..).</p>
        </label>
        <p class="settings__note">Note: important updates that can effect your usage of the service will still be
            delivered.</p>
        <div class="settings__submit">
            <button class="button settings__button">Upgrade</button>
        </div>
    </form>
</div>
<div class="form settings__password">
    <h3>Password <span>(not required if you won't be updating the password)</span></h3>
    <form>
        <div class="settings__password-field">
            <p>Current Password <sup>*</sup></p>
            <input type="text"/>
        </div>
        <div class="settings__password-field">
            <p>New Password <sup>*</sup></p>
            <input type="text"/>
        </div>
        <div class="settings__password-field">
            <p>Repeat New Password <sup>*</sup></p>
            <input type="text"/>
        </div>
        <div class="settings__submit">
            <button class="button settings__button">Upgrade</button>
        </div>
    </form>
</div>
<div class="settings__text">
    <h3>E-mail</h3>
    <p class="settings__dotted">
        Your e-mail at Uptime Robot is user12343@gmail.com. <a href="">I want to change it.</a>
    </p>
</div>
<div class="settings__text">
    <h3>Delete Account</h3>
    <p class="settings__dotted">
        Uptime Robot sends an "account deletion verification e-mail" to the account e-mail. Once the verification link
        inside the e-mail is clicked, all account information at Uptime Robot (including the account, monitors, logs and
        settings will be lost and can not be recovered).
        <a href="">I still want to delete the account.</a>
    </p>
</div>

