<div class="registration registration-confirmed">
  <div class="wrapper">
    <div class="form registration__form">
      <h2><img src="../../../../assets/images/confirmed.png" alt=""/> Email confirmed successfully</h2>
      <p class="registration__thanks">Thanks for registration, your email successfully confirms Now you enter your account using data indicated at registration</p>
      <a href="" class="button">Home</a>
    </div>
    <a href="" class="registration__already">Already have an account?</a>
  </div>
</div>
